<h1>{{ character.name }}</h1>
<h2>Character's specie</h2>
<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    birth year
    <span class="badge badge-primary badge-pill">14</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    height
    <span class="badge badge-primary badge-pill">144</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    mass
    <span class="badge badge-primary badge-pill">114</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    hair color
    <span class="badge badge-primary badge-pill">14</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    skin color
    <span class="badge badge-primary badge-pill">142</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    gender
    <span class="badge badge-primary badge-pill">134</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    number of vehicles
    <span class="badge badge-primary badge-pill">14</span>
  </li>
</ul>
<h2>starships:</h2>
<ul>
  <li>X-wing</li>
  <li>Y-leg</li>
</ul>
